.container {
    margin-top: 76px;
    color: var( --color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
    width: 100%;
}