.container {
    margin-top: 76px;
    color: var( --color-text);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;   
    
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    padding:3rem;
}

.projects {
    margin-top: 37px;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 15px;
    width: 100%;
}

@media screen  and (max-width:600px) {
    .projects {
       display: flex;
       flex-direction: column;
       
    } 
}