.hero-conteiner {
    display: flex;
    align-items: center;
    position: relative;
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img > div > img {
    width: 25rem;
    transition: all 0.3s ease;
}

.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border:  1.5px solid #6852ba;
}

.tech-icon i {    
    font-size: 3rem;
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.hero-img > div > img:hover,
.tech-icon i:hover {
    transform:  translateY(-0.5rem);

} 
 


