
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);

}

body {
  background-image: url('./assets/banner-bg.png'); 
  background-color: black;
  color: #fff;
}



:root {
  --ff:  font-family: "Poppins", sans-serif;
  --color-text: #fff;
  --color-dark: #0b2447;
  --color-primary: #576cbc;

  }