.contact-details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #130f2a;
    border-radius: 0.65rem;
    border: 1.5px solid #6751b9;*/
    padding: 1.5rem;
    margin-bottom: 2rem;
    max-width: 150px;
}

.contact-details-card .icon {
    width: 19rem;
    height: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    /*background: #3d3072;*/
    border-radius: 0.8rem;
}

.icon img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.contact-details-card p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

@media screen and (max-width:600px) {
    .contact-details-card {       
        max-width: 1500px;
    }
    
}